/* FormControl */

/* groups label, field, caption and inline error message */

.FormControl {
  display: inline-flex;
  flex-direction: column;
  gap: var(--base-size-4, 0.25rem);

  /* fill container */

  &.fullWidth {
    display: flex;
  }

  /* <label> */

  .label {
    font-size: var(--text-body-size-medium, 0.875rem);
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: var(--text-body-lineHeight-medium, 1.4285);
    color: var(--fgColor-default, var(--color-fg-default));
    -webkit-user-select: none;
    user-select: initial;
    border: initial;
    display: initial;
    padding: initial;
    white-space: initial;
  }

  /* optional caption */

  .caption {
    margin-bottom: 0;
    font-size: var(--text-caption-size, 0.75rem);
    font-weight: var(--text-caption-weight, 400);
    line-height: var(--text-caption-lineHeight, 1.3333);
    color: var(--fgColor-muted, var(--color-fg-muted));
  }

  /* inline validation message */

  .inlineValidation {
    display: flex;
    font-size: var(--text-caption-size, 0.75rem);
    line-height: var(--text-caption-lineHeight, 1.3333);
    font-weight: var(--base-text-weight-semibold, 600);
    color: var(
      --control-borderColor-danger,
      var(--color-danger-emphasis)
    );
    fill: var(
      --control-borderColor-danger,
      var(--color-danger-emphasis)
    );
    flex-direction: row;
    align-items: flex-start;
    gap: var(--base-size-4, 0.25rem);
  }

  .inlineValidation p {
    margin-bottom: 0;
  }

  .inlineValidation--success {
    color: var(
      --control-borderColor-success,
      var(--color-success-emphasis)
    );
    fill: var(
      --control-borderColor-success,
      var(--color-success-emphasis)
    );
  }

  .inlineValidation--visual {
    align-items: center;
    display: flex;
    min-height: var(--base-size-16, 1rem);
  }

  .spacingWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .horizontalGroup {
    display: flex;
    column-gap: 0.5rem;
  }
  /* 
shared among all form control components (input, select, textarea, checkbox, radio) */

  /* TextInput structure
** ===================
**
** .FormControl
** ├─ .label
** │  ├─ .input-wrap
** │  │  ├─ .input-leadingVisualWrap
** │  │  │  ├─ .input-leadingVisual
** │  │  ├─ .input
** │  │  ├─ .input-trailingAction
** ├─ .inlineValidation
** ├─ .caption */

  /* // Select structure
** ===================
**
** .FormControl
** ├─ .label
** │  ├─ .select-wrap
** │  │  ├─ .select
** ├─ .inlineValidation
** ├─ .caption */

  /* // Textarea structure
** ===================
**
** .FormControl
** ├─ .label
** ├─ .textarea
** ├─ .inlineValidation
** ├─ .caption */

  .input,
  .select,
  .textarea {
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(
      --bgColor-default,
      var(--color-canvas-default)
    );
    border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
      var(--control-borderColor-rest, var(--color-border-default));

    width: 100%;
    font-size: var(--text-body-size-medium, 0.875rem);
    line-height: var(--text-body-lineHeight-medium, 1.4285);
    border-radius: var(--borderRadius-medium, 0.375rem);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow,
      border-color;
    padding-inline: var(
      --control-medium-paddingInline-condensed,
      0.5rem
    );
    padding-block: calc(
      var(--control-medium-paddingBlock, 6px) - var(
          --borderWidth-thin,
          1px
        )
    );
  }

  .input[disabled],
  .select[disabled],
  .textarea[disabled] {
    color: var(
      --control-fgColor-disabled,
      var(--color-primer-fg-disabled)
    );
    cursor: not-allowed;
    background-color: var(
      --control-bgColor-disabled,
      var(--color-input-disabled-bg)
    );
    border-color: var(
      --control-borderColor-disabled,
      var(--color-btn-border)
    );
    opacity: 1;
    -webkit-text-fill-color: var(
      --control-fgColor-disabled,
      var(--color-primer-fg-disabled)
    );
  }

  .input[invalid='true']:not(:focus),
  .select[invalid='true']:not(:focus),
  .textarea[invalid='true']:not(:focus) {
    border-color: var(
      --control-borderColor-danger,
      var(--color-danger-emphasis)
    );
  }

  .input[invalid='false']:not(:focus),
  .select[invalid='false']:not(:focus),
  .textarea[invalid='false']:not(:focus) {
    border-color: var(
      --control-borderColor-success,
      var(--color-success-emphasis)
    );
  }

  .input:not([type='checkbox'], [type='radio']):focus,
  .select:not([type='checkbox'], [type='radio']):focus,
  .textarea:not([type='checkbox'], [type='radio']):focus {
    border-color: var(--focus-outlineColor, var(--color-accent-fg));
    outline: none;
    box-shadow: inset 0 0 0 1px
      var(--focus-outlineColor, var(--color-accent-fg));

    /* remove fallback :focus if :focus-visible is supported */
  }

  .input:not([type='checkbox'], [type='radio']):focus:not(
      :focus-visible
    ),
  .select:not([type='checkbox'], [type='radio']):focus:not(
      :focus-visible
    ),
  .textarea:not([type='checkbox'], [type='radio']):focus:not(
      :focus-visible
    ) {
    border-color: transparent;

    border-color: var(--focus-outlineColor, var(--color-accent-fg));

    outline: none;

    box-shadow: inset 0 0 0 1px transparent
      var(--focus-outlineColor, var(--color-accent-fg));
  }

  /* default focus state */

  .input:not([type='checkbox'], [type='radio']):focus-visible,
  .select:not([type='checkbox'], [type='radio']):focus-visible,
  .textarea:not([type='checkbox'], [type='radio']):focus-visible {
    border-color: var(--focus-outlineColor, var(--color-accent-fg));
    outline: none;
    box-shadow: inset 0 0 0 1px
      var(--focus-outlineColor, var(--color-accent-fg));
  }

  .input[disabled]::placeholder,
  .select[disabled]::placeholder,
  .textarea[disabled]::placeholder {
    color: var(
      --control-fgColor-disabled,
      var(--color-primer-fg-disabled)
    );
  }

  .input[readonly],
  .select[readonly],
  .textarea[readonly] {
    background-color: var(
      --control-bgColor-disabled,
      var(--color-input-disabled-bg)
    );
  }

  .input::placeholder,
  .select::placeholder,
  .textarea::placeholder {
    color: var(--control-fgColor-placeholder, var(--color-fg-subtle));
    opacity: 1;
  }

  /* sizes */

  .input.small,
  .select.small,
  .textarea.small {
    height: var(--control-small-size, 1.75rem);
    padding-inline: var(
      --control-small-paddingInline-normal,
      0.75rem
    );
    padding-block: var(--control-small-paddingBlock, 0.25rem);
    font-size: var(--text-body-size-small, 0.75rem);
  }

  .input.medium,
  .select.medium,
  .textarea.medium {
    height: var(--control-medium-size, 2rem);
  }

  .input.large,
  .select.large,
  .textarea.large {
    height: var(--control-large-size, 2.5rem);
    padding-inline: var(
      --control-large-paddingInline-normal,
      0.75rem
    );
    padding-block: var(--control-large-paddingBlock, 0.625rem);
  }

  /* variants */

  .input.inset,
  .select.inset,
  .textarea.inset {
    background-color: var(
      --bgColor-muted,
      var(--color-canvas-subtle)
    );
  }

  .input.inset:focus-visible,
  .select.inset:focus-visible,
  .textarea.inset:focus-visible,
  .input.inset:focus,
  .select.inset:focus,
  .textarea.inset:focus {
    background-color: var(
      --bgColor-default,
      var(--color-canvas-default)
    );
  }

  .input.monospace,
  .select.monospace,
  .textarea.monospace {
    font-family: var(
      --fontStack-monospace,
      ui-monospace,
      SFMono-Regular,
      SF Mono,
      Menlo,
      Consolas,
      Liberation Mono,
      monospace
    );
  }

  /* validation states */

  .input.error,
  .select.error,
  .textarea.error {
    border-color: var(
      --control-borderColor-danger,
      var(--color-danger-emphasis)
    );
  }

  .input.success,
  .select.success,
  .textarea.success {
    border-color: var(
      --control-borderColor-success,
      var(--color-success-emphasis)
    );
  }

  .input.warning,
  .select.warning,
  .textarea.warning {
    border-color: var(
      --control-borderColor-warning,
      var(--color-attention-emphasis)
    );
  }

  .toggleSwitchInput {
    display: flex;
    align-items: flex-start;
    gap: var(--base-size-16, 1rem);
  }

  /* positioning for leading/trailing items for TextInput */

  .input-wrap {
    position: relative;
    display: grid;
  }

  .input-wrap .input-leadingVisualWrap {
    position: absolute;
    top: var(--base-size-8, 0.5rem);
    left: var(--base-size-8, 0.5rem);
    display: block;
    width: var(--base-size-16, 1rem);
    height: var(--base-size-16, 1rem);
    color: var(--fgColor-muted, var(--color-fg-muted));
    pointer-events: none;

    /* octicon */
  }

  .input-wrap .input-leadingVisualWrap .input-leadingVisual {
    display: block;
    -webkit-user-select: none;
    user-select: none;
  }

  /* TODO: replace with new Button component */

  .input-wrap .input-trailingAction {
    position: absolute;
    top: var(--base-size-4, 0.25rem);
    right: var(--base-size-4, 0.25rem);
    z-index: 4;
    display: grid;
    width: var(--control-xsmall-size, 1.5rem);
    height: var(--control-xsmall-size, 1.5rem);
    padding: 0;
    color: var(--fgColor-muted, var(--color-fg-muted));
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: var(--borderRadius-small, 0.1875rem);
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    align-items: center;
    justify-content: center;
  }

  .input-wrap .input-trailingAction svg {
    -webkit-user-select: none;
    user-select: none;
  }

  .input-wrap .input-trailingAction[disabled] {
    color: var(
      --control-fgColor-disabled,
      var(--color-primer-fg-disabled)
    );
    pointer-events: none;
  }

  .input-wrap .input-trailingAction:hover {
    background: var(
      --control-transparent-bgColor-hover,
      var(--color-action-list-item-default-hover-bg)
    );
  }

  .input-wrap .input-trailingAction:active {
    background: var(
      --control-transparent-bgColor-active,
      var(--color-action-list-item-default-active-bg)
    );
  }

  /* show vertical divider line between field and button */

  .input-wrap
    .input-trailingAction.input-trailingAction--divider::before {
    position: absolute;
    top: calc(
      (var(--control-xsmall-size, 1.5rem) - var(--base-size-16, 1rem)) /
        2
    );
    left: calc(var(--base-size-4, 0.25rem) * -1);
    display: block;
    width: var(--borderWidth-thin, max(1px, 0.0625rem));
    height: var(--base-size-16, 1rem);
    content: '';
    background: var(
      --borderColor-default,
      var(--color-border-default)
    );
  }

  .input-wrap .input-trailingAction::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    min-height: var(--control-medium-size, 2rem)
      var(--control-medium-size, 2rem);
    content: '';
    transform: translateX(-50%) translateY(-50%);
  }

  @media (pointer: coarse) {
    .input-wrap .input-trailingAction::after {
      min-width: var(--control-minTarget-coarse, 2.75rem);
      min-height: var(--control-minTarget-coarse, 2.75rem);
    }
  }

  /* if leadingVisual is present */

  /*
	┌──32px──┬────────────────────┐
	╎  ┌───┐   ┌────────────────┐ ╎
	╎   16px    16px                ╎
	╎  └───┘   └────────────────┘ ╎
	└───────8px───────────────────┘
	*/

  .input-wrap.input-wrap--leadingVisual .input {
    padding-inline-start: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) +
        var(--base-size-16, 1rem) + var(--control-medium-gap, 0.5rem)
    ); /* 32px */
  }

  /*
	┌──────────────────┬──32px──┐
	╎  ┌──────────────┐  ┌────┐ ╎
	╎   24px               24px   ╎
	╎  └──────────────┘  └────┘ ╎
	└──────────────────┴────────┘
  */

  /* if trailingAction is present */

  .input-wrap.input-wrap--trailingAction .input {
    padding-inline-end: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) +
        var(--base-size-16, 1rem) + var(--control-medium-gap, 0.5rem)
    ); /* 32px */
  }

  /*
		32px + 1px border
		┌──────────────────┬──33px──┐
		╎  ┌──────────────┐  ┌────┐ ╎
		╎   24px               24px   ╎
		╎  └──────────────┘  └────┘ ╎
		└──────────────────┴────────┘
		*/

  /* if trailingAction divider is present, add 1px padding to accomodate input field text
    ** can be refactored to has(.input-trailingAction--divider) */

  .input-wrap.input-wrap--trailingAction.input-wrap-trailingAction--divider
    .input {
    padding-inline-end: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) +
        var(--base-size-16, 1rem) + var(--control-medium-gap, 0.5rem) +
        var(--borderWidth-thin, max(1px, 0.0625rem))
    ); /* 33px */
  }

  /* size modifications can be refactored with :has() - FormControl-input-wrap:has(.large)
  // sizes */

  .input-wrap.input-wrap--small .input-leadingVisualWrap {
    top: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) - 0.125rem
    ); /* 6px */
    left: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) - 0.125rem
    ); /* 6px */
  }

  /*
    ┌──────────────────┬──28px──┐
    ╎  ┌──────────────┐  ┌────┐ ╎
    ╎   20px               20px   ╎
    ╎  └──────────────┘  └────┘ ╎
    └──────────────────┴────────┘
    */

  .input-wrap.input-wrap--small.input-wrap--trailingAction
    .input.small {
    padding-inline-end: calc(
      var(--control-small-paddingInline-condensed, 0.5rem) +
        var(--base-size-16, 1rem) + var(--control-small-gap, 0.25rem)
    ); /* 28px */
  }

  /*
			28px + 1px border
			┌──────────────────┬──29px──┐
			╎  ┌──────────────┐  ┌────┐ ╎
			╎   20px               20px   ╎
			╎  └──────────────┘  └────┘ ╎
			└──────────────────┴────────┘
			*/

  .input-wrap.input-wrap--small.input-wrap--trailingAction.input-wrap-trailingAction--divider
    .input.small {
    padding-inline-end: calc(
      var(--control-small-paddingInline-condensed, 0.5rem) +
        var(--base-size-16, 1rem) + var(--control-small-gap, 0.25rem) +
        var(--borderWidth-thin, max(1px, 0.0625rem))
    ); /* 29px */
  }

  .input-wrap.input-wrap--small .input-trailingAction {
    width: calc(
      var(--control-small-size, 1.75rem) - var(--base-size-8, 0.5rem)
    );
    height: calc(
      var(--control-small-size, 1.75rem) - var(--base-size-8, 0.5rem)
    );
  }

  .input-wrap.input-wrap--small .input-trailingAction::before {
    top: calc(
      (var(--control-xsmall-size, 1.5rem) - var(--base-size-16, 1rem)) /
        4
    ); /* 2px */
  }

  .input-wrap.input-wrap--large .input-leadingVisualWrap {
    top: var(--control-medium-paddingInline-normal, 0.75rem);
    left: var(--control-medium-paddingInline-normal, 0.75rem);
  }

  /*
    ┌──36px──┬───12px padding──────┐
    ╎  ┌───┐   ┌────────────────┐ ╎
    ╎   16px    16px                ╎
    ╎  └───┘   └────────────────┘ ╎
    └12px───8px───────────────────┘
    */

  .input-wrap.input-wrap--large.input-wrap--leadingVisual
    .input.large {
    padding-inline-start: calc(
      var(--control-large-paddingInline-normal, 0.75rem) +
        var(--base-size-16, 1rem) + var(--control-large-gap, 0.5rem)
    ); /* 36px */
  }

  /*
    ┌──────────────────┬──36px──┐
    ╎  ┌──────────────┐  ┌────┐ ╎
    ╎   28px               28px   ╎
    ╎  └──────────────┘  └────┘ ╎
    └──────────────────┴────────┘
    */

  .input-wrap.input-wrap--large.input-wrap--trailingAction
    .input.large {
    padding-inline-end: calc(
      var(--control-large-paddingInline-normal, 0.75rem) +
        var(--base-size-16, 1rem) + var(--control-large-gap, 0.5rem)
    ); /* 36px */
  }

  /*
			┌──────────────────┬──37px──┐
			╎  ┌──────────────┐  ┌────┐ ╎
			╎   28px               28px   ╎
			╎  └──────────────┘  └────┘ ╎
			└──────────────────┴────────┘
			*/

  .input-wrap.input-wrap--large.input-wrap--trailingAction.input-wrap-trailingAction--divider
    .input.large {
    padding-inline-end: calc(
      var(--control-large-paddingInline-normal, 0.75rem) +
        var(--base-size-16, 1rem) + var(--control-large-gap, 0.5rem) +
        var(--borderWidth-thin, max(1px, 0.0625rem))
    ); /* 37px */
  }

  .input-wrap.input-wrap--large .input-trailingAction {
    top: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) - 0.125rem
    ); /* 6px */
    right: calc(
      var(--control-medium-paddingInline-condensed, 0.5rem) - 0.125rem
    ); /* 6px */
    width: var(--control-small-size, 1.75rem);
    height: var(--control-small-size, 1.75rem);
  }

  .input-wrap.input-wrap--large .input-trailingAction::before {
    top: unset;
    height: var(--base-size-20, 1.25rem);
  }

  .select-wrap {
    display: grid;
    grid-template-columns: minmax(0, auto) var(--base-size-16, 1rem);

    /* mask allows for background-color to respect themes */
  }

  .select-wrap::after {
    width: var(--base-size-16, 1rem);
    height: var(--base-size-16, 1rem);
    padding-right: var(--base-size-4, 0.25rem);
    pointer-events: none;
    content: '';
    background-color: var(
      --bgColor-neutral-emphasis,
      var(--color-fg-subtle)
    );
    -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=');
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    grid-column: 2;
    grid-row: 1;
    place-self: center end;
  }

  /* spans entire grid below mask */

  .select-wrap .select {
    grid-column: 1/-1;
    grid-row: 1;
    -webkit-appearance: none;
    appearance: none;
    padding-right: var(--base-size-20, 1.25rem);
  }

  /* checkbox + radio specific styles */

  /* // Checkbox + Radio structure
** ===================
**
** .radio-wrap
** ├─ .radio
** ├─ .radio-labelWrap
** │  ├─ .label
** │  ├─ .caption */

  .checkbox-wrap,
  .radio-wrap {
    display: inline-grid;
    grid-template-columns: min-content auto;
    gap: var(--base-size-8, 0.5rem);
  }

  .checkbox-wrap .checkbox-labelWrap,
  .radio-wrap .checkbox-labelWrap,
  .checkbox-wrap .radio-labelWrap,
  .radio-wrap .radio-labelWrap {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-4, 0.25rem);
  }

  .checkbox-wrap .label,
  .radio-wrap .label {
    cursor: pointer;
  }

  .radio-group-wrap fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .check-group-wrap fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
}
/* these selectors are temporary to override base.scss
** once Field styles are widely adopted, we can adjust this and the global base styles */

input[type='checkbox'].checkbox {
  color: var(--fgColor-default, var(--color-fg-default));
  background-color: var(
    --bgColor-default,
    var(--color-canvas-default)
  );
  border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--control-borderColor-rest, var(--color-border-default));

  position: relative;
  display: grid;
  width: var(--base-size-16, 1rem);
  height: var(--base-size-16, 1rem);
  margin: 0;
  margin-top: 0.125rem; /* 2px to center align with label (20px line-height) */
  cursor: pointer;
  border-color: var(
    --control-borderColor-emphasis,
    var(--color-switch-knob-border)
  );
  border-radius: var(--borderRadius-small, 0.1875rem);
  transition:
    background-color,
    border-color 80ms cubic-bezier(0.33, 1, 0.68, 1); /* checked -> unchecked - add 120ms delay to fully see animation-out */
  -webkit-appearance: none;
  appearance: none;
  place-content: center;
}

input.checkbox[type='checkbox'][disabled] {
  color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  cursor: not-allowed;
  background-color: var(
    --control-bgColor-disabled,
    var(--color-input-disabled-bg)
  );
  border-color: var(
    --control-borderColor-disabled,
    var(--color-btn-border)
  );
  opacity: 1;
  -webkit-text-fill-color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
}

input.checkbox[type='checkbox'][invalid='true']:not(:focus) {
  border-color: var(
    --control-borderColor-danger,
    var(--color-danger-emphasis)
  );
}

input.checkbox[type='checkbox'][invalid='false']:not(:focus) {
  border-color: var(
    --control-borderColor-success,
    var(--color-success-emphasis)
  );
}

input.checkbox[type='checkbox']:not(
    [type='checkbox'],
    [type='radio']
  ):focus {
  border-color: var(--focus-outlineColor, var(--color-accent-fg));
  outline: none;
  box-shadow: inset 0 0 0 1px
    var(--focus-outlineColor, var(--color-accent-fg));

  /* remove fallback :focus if :focus-visible is supported */
}

input.checkbox[type='checkbox']:not(
    [type='checkbox'],
    [type='radio']
  ):focus:not(:focus-visible) {
  border-color: transparent;

  border-color: var(--focus-outlineColor, var(--color-accent-fg));

  outline: none;

  box-shadow: inset 0 0 0 1px transparent
    var(--focus-outlineColor, var(--color-accent-fg));
}

/* default focus state */

input.checkbox[type='checkbox']:not(
    [type='checkbox'],
    [type='radio']
  ):focus-visible {
  border-color: var(--focus-outlineColor, var(--color-accent-fg));
  outline: none;
  box-shadow: inset 0 0 0 1px
    var(--focus-outlineColor, var(--color-accent-fg));
}

input.checkbox[type='checkbox']::before {
  width: var(--base-size-16, 1rem);
  height: var(--base-size-16, 1rem);
  visibility: hidden;
  content: '';
  background-color: var(
    --control-checked-fgColor-rest,
    var(--color-switch-track-checked-fg)
  );
  transition: visibility 0s linear 230ms;
  clip-path: inset(var(--base-size-16, 1rem) 0 0 0);

  /* octicon checkmark image */
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuNzgwMyAwLjIxOTYyNUMxMS45MjEgMC4zNjA0MjcgMTIgMC41NTEzMDUgMTIgMC43NTAzMTNDMTIgMC45NDkzMjEgMTEuOTIxIDEuMTQwMTkgMTEuNzgwMyAxLjI4MUw0LjUxODYgOC41NDA0MkM0LjM3Nzc1IDguNjgxIDQuMTg2ODIgOC43NiAzLjk4Nzc0IDguNzZDMy43ODg2NyA4Ljc2IDMuNTk3NzMgOC42ODEgMy40NTY4OSA4LjU0MDQyTDAuMjAxNjIyIDUuMjg2MkMwLjA2ODkyNzcgNS4xNDM4MyAtMC4wMDMzMDkwNSA0Ljk1NTU1IDAuMDAwMTE2NDkzIDQuNzYwOThDMC4wMDM1NTIwNSA0LjU2NjQzIDAuMDgyMzg5NCA0LjM4MDgxIDAuMjIwMDMyIDQuMjQzMjFDMC4zNTc2NjUgNC4xMDU2MiAwLjU0MzM1NSA0LjAyNjgxIDAuNzM3OTcgNC4wMjMzOEMwLjkzMjU4NCA0LjAxOTk0IDEuMTIwOTMgNC4wOTIxNyAxLjI2MzM0IDQuMjI0ODJMMy45ODc3NCA2Ljk0ODM1TDEwLjcxODYgMC4yMTk2MjVDMTAuODU5NSAwLjA3ODk5MjMgMTEuMDUwNCAwIDExLjI0OTUgMEMxMS40NDg1IDAgMTEuNjM5NSAwLjA3ODk5MjMgMTEuNzgwMyAwLjIxOTYyNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuNzgwMyAwLjIxOTYyNUMxMS45MjEgMC4zNjA0MjcgMTIgMC41NTEzMDUgMTIgMC43NTAzMTNDMTIgMC45NDkzMjEgMTEuOTIxIDEuMTQwMTkgMTEuNzgwMyAxLjI4MUw0LjUxODYgOC41NDA0MkM0LjM3Nzc1IDguNjgxIDQuMTg2ODIgOC43NiAzLjk4Nzc0IDguNzZDMy43ODg2NyA4Ljc2IDMuNTk3NzMgOC42ODEgMy40NTY4OSA4LjU0MDQyTDAuMjAxNjIyIDUuMjg2MkMwLjA2ODkyNzcgNS4xNDM4MyAtMC4wMDMzMDkwNSA0Ljk1NTU1IDAuMDAwMTE2NDkzIDQuNzYwOThDMC4wMDM1NTIwNSA0LjU2NjQzIDAuMDgyMzg5NCA0LjM4MDgxIDAuMjIwMDMyIDQuMjQzMjFDMC4zNTc2NjUgNC4xMDU2MiAwLjU0MzM1NSA0LjAyNjgxIDAuNzM3OTcgNC4wMjMzOEMwLjkzMjU4NCA0LjAxOTk0IDEuMTIwOTMgNC4wOTIxNyAxLjI2MzM0IDQuMjI0ODJMMy45ODc3NCA2Ljk0ODM1TDEwLjcxODYgMC4yMTk2MjVDMTAuODU5NSAwLjA3ODk5MjMgMTEuMDUwNCAwIDExLjI0OTUgMEMxMS40NDg1IDAgMTEuNjM5NSAwLjA3ODk5MjMgMTEuNzgwMyAwLjIxOTYyNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
  -webkit-mask-size: 75%;
  mask-size: 75%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
  input.checkbox[type='checkbox']::before {
    animation: checkmarkOut 80ms cubic-bezier(0.65, 0, 0.35, 1)
      forwards; /* slightly snappier animation out */
  }
}

/* extend touch target */

input.checkbox[type='checkbox']::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-height: var(--control-medium-size, 2rem)
    var(--control-medium-size, 2rem);
  content: '';
  transform: translateX(-50%) translateY(-50%);
}

input.checkbox[type='checkbox'][disabled]
  ~ .checkbox-labelWrap
  .label {
  color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  cursor: not-allowed;
}

input.checkbox[type='checkbox']:checked {
  background: var(
    --control-checked-bgColor-rest,
    var(--color-accent-fg)
  );
  border-color: var(
    --control-checked-borderColor-rest,
    var(--color-accent-fg)
  );
  transition:
    background-color,
    border-color 80ms cubic-bezier(0.32, 0, 0.67, 0) 0ms; /* unchecked -> checked */
}

input.checkbox[type='checkbox']:checked::before {
  visibility: visible;
  transition: visibility 0s linear 0s;
}

@media screen and (prefers-reduced-motion: no-preference) {
  input.checkbox[type='checkbox']:checked::before {
    animation: checkmarkIn 80ms cubic-bezier(0.65, 0, 0.35, 1)
      forwards 80ms;
  }
}

input.checkbox[type='checkbox']:checked:disabled {
  cursor: not-allowed;
  background-color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  border-color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  opacity: 1;
}

input.checkbox[type='checkbox']:checked:disabled::before {
  background-color: var(
    --control-checked-fgColor-rest,
    var(--color-switch-track-checked-fg)
  );
}

/* Windows High Contrast mode */

@media (forced-colors: active) {
  input.checkbox[type='checkbox']:checked {
    background-color: canvastext;
    border-color: canvastext;
  }
}

input.checkbox[type='checkbox']:focus-visible {
  outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
  outline-offset: 2px;
  box-shadow: none;
}

input.checkbox[type='checkbox']:indeterminate::before {
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEwIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMCAxQzAgMC40NDc3MTUgMC40NDc3MTUgMCAxIDBIOUM5LjU1MjI5IDAgMTAgMC40NDc3MTUgMTAgMUMxMCAxLjU1MjI4IDkuNTUyMjkgMiA5IDJIMUMwLjQ0NzcxNSAyIDAgMS41NTIyOCAwIDFaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEwIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMCAxQzAgMC40NDc3MTUgMC40NDc3MTUgMCAxIDBIOUM5LjU1MjI5IDAgMTAgMC40NDc3MTUgMTAgMUMxMCAxLjU1MjI4IDkuNTUyMjkgMiA5IDJIMUMwLjQ0NzcxNSAyIDAgMS41NTIyOCAwIDFaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
  visibility: visible;
}

input[type='radio'].radio {
  color: var(--fgColor-default, var(--color-fg-default));
  background-color: var(
    --bgColor-default,
    var(--color-canvas-default)
  );
  border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--control-borderColor-rest, var(--color-border-default));

  position: relative;
  width: var(--base-size-16, 1rem);
  height: var(--base-size-16, 1rem);
  margin: 0;
  margin-top: 0.125rem; /* 2px to center align with label (20px line-height) */
  cursor: pointer;
  border-color: var(
    --control-borderColor-emphasis,
    var(--color-switch-knob-border)
  );
  border-radius: var(--borderRadius-full, 624.9375rem);
  transition:
    background-color,
    border-color 80ms cubic-bezier(0.33, 1, 0.68, 1); /* checked -> unchecked - add 120ms delay to fully see animation-out */
  -webkit-appearance: none;
  appearance: none;
}

input.radio[type='radio'][disabled] {
  color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  cursor: not-allowed;
  background-color: var(
    --control-bgColor-disabled,
    var(--color-input-disabled-bg)
  );
  border-color: var(
    --control-borderColor-disabled,
    var(--color-btn-border)
  );
  opacity: 1;
  -webkit-text-fill-color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
}

input.radio[type='radio'][invalid='true']:not(:focus) {
  border-color: var(
    --control-borderColor-danger,
    var(--color-danger-emphasis)
  );
}

input.radio[type='radio'][invalid='false']:not(:focus) {
  border-color: var(
    --control-borderColor-success,
    var(--color-success-emphasis)
  );
}

input.radio[type='radio']:not(
    [type='checkbox'],
    [type='radio']
  ):focus {
  border-color: var(--focus-outlineColor, var(--color-accent-fg));
  outline: none;
  box-shadow: inset 0 0 0 1px
    var(--focus-outlineColor, var(--color-accent-fg));

  /* remove fallback :focus if :focus-visible is supported */
}

input.radio[type='radio']:not(
    [type='checkbox'],
    [type='radio']
  ):focus:not(:focus-visible) {
  border-color: transparent;

  border-color: var(--focus-outlineColor, var(--color-accent-fg));

  outline: none;

  box-shadow: inset 0 0 0 1px transparent
    var(--focus-outlineColor, var(--color-accent-fg));
}

/* default focus state */

input.radio[type='radio']:not(
    [type='checkbox'],
    [type='radio']
  ):focus-visible {
  border-color: var(--focus-outlineColor, var(--color-accent-fg));
  outline: none;
  box-shadow: inset 0 0 0 1px
    var(--focus-outlineColor, var(--color-accent-fg));
}

input.radio[type='radio']::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-height: var(--control-medium-size, 2rem)
    var(--control-medium-size, 2rem);
  content: '';
  transform: translateX(-50%) translateY(-50%);
}

input.radio[type='radio'][disabled] ~ .radio-labelWrap .label {
  color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  cursor: not-allowed;
}

input.radio[type='radio']:checked {
  border-color: var(
    --control-checked-borderColor-rest,
    var(--color-accent-fg)
  );
  border-width: var(--base-size-4, 0.25rem);
}

input.radio[type='radio'][disabled]:checked,
input.radio[type='radio']:checked:disabled {
  cursor: not-allowed;
  border-color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
}

input.radio[type='radio'][disabled]:checked ~ .radio-labelWrap .label,
input.radio[type='radio']:checked:disabled ~ .radio-labelWrap .label {
  color: var(
    --control-fgColor-disabled,
    var(--color-primer-fg-disabled)
  );
  cursor: not-allowed;
}

input.radio[type='radio']:focus-visible {
  outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
  outline-offset: 2px;
  box-shadow: none;
}

/* Windows High Contrast mode */

@media (forced-colors: active) {
  input[type='radio'].radio {
    background-color: canvastext;
    border-color: canvastext;
  }
}

@keyframes checkmarkIn {
  from {
    clip-path: inset(var(--base-size-16, 1rem) 0 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes checkmarkOut {
  from {
    clip-path: inset(0 0 0 0);
  }

  to {
    clip-path: inset(var(--base-size-16, 1rem) 0 0 0);
  }
}
